body{
    background-color: rgb(211, 185, 148);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
}

h1{
    font-size: 50px;
    margin-top: 40px;
}

form{
    margin-top: 40px;
    font-size: 25px;
    color: black;
    text-decoration: black;

}
.error{
  color: red;
}
input{
    font-size: 20px;
    margin: 8px;
    padding: 10px;
}
button {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 15px 0;
    padding: 15px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
}

button img {
    vertical-align: middle;
    margin-right: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 15px 0;
    padding: 15px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
}

a img {
    vertical-align: middle;
    margin-right: 10px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

br {
    line-height: 1.8;
}

.genero-item {
    display: inline-flex;
    align-items: center;    /* alinha radio, imagem e texto na mesma linha */
    gap: 8px;               /* espaço entre botão, imagem e texto */
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px;    /* espaço entre as opções (Homem e Mulher) */
}

.genero-item input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}

.genero-item img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

/* BOTÃO VOLTAR */
a.botaoV {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(214, 225, 176);
    padding: 15px 25px;
    margin-top: 50px; /* empurra o botão mais para baixo */
    transition: background-color 0.3s, transform 0.2s;
}

a.botaoV img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

a.botaoV:hover {
    background-color: rgb(255, 255, 255); 
    transform: scale(1.05);
}