body{
    background-color: rgb(211, 185, 148);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
}

h1{
    font-size: 50px;
    margin-top: 40px;
}

form{
    margin-top: 30px;
    font-size: 25px;
    color: black;
    text-decoration: black;

}
.error{
  color: red;
}
input{
    font-size: 20px;
    margin: 8px;
    padding: 10px;
}
button {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 15px 0;
    padding: 15px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
}

button img {
    vertical-align: middle;
    margin-right: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 15px 0;
    padding: 15px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
}

a img {
    vertical-align: middle;
    margin-right: 10px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

br {
    line-height: 1.8;
}