body{
    background-color: rgb(211, 185, 148);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
}


h1{
    font-size: 50px;
    margin-top: 40px;
}
h2{
    font-size: 30px;
    margin-top: 50px;
}

form{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    text-decoration: black;
}
input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}
