body{
    background-color: rgb(211, 185, 148);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
}


h1{
    font-size: 50px;
    margin-top: 40px;
}
h2{
    font-size: 30px;
    margin-top: 50px;
}

form{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    text-decoration: black;
}
input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}


a.botao {
    display: inline-flex;
    align-items: center;                 
    justify-content: flex-start;         
    gap: 15px;                           
    text-decoration: none;
    color: black;
    width: 250px;             
    height: 70px;   
    font-size: 25px;
    margin: 15px 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    padding-left: 20px;
}
.error{
  color: red;
}

a.botao:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

/* IMAGEM DENTRO DO BOTÃO */
.botaoi img {
    width: 40px;
    height: 40px;
    display: block;
}

/* TEXTO DO BOTÃO */
.botaot {
    flex: 1;
    text-align: left;                    /* texto alinhado à esquerda */
}

/* AJUSTE PARA ESPAÇAMENTO ENTRE BOTÕES */
br {
    line-height: 1.8;
}


/* BOTÃO VOLTAR */
a.botao .botaoV {
    color: rgb(0, 0, 0);              /* cor do texto */
}

/* COR DE FUNDO DIFERENTE PARA O BOTÃO VOLTAR */
a.botao:last-of-type {
    background-color: rgb(214, 225, 176); 
    border-color: black;
    margin-top: 50px;
}

a.botao:last-of-type:hover {
    background-color: rgb(255, 255, 255);  /* vermelho mais claro ao passar o mouse */
    transform: scale(1.05);
}

button {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 15px 0;
    padding: 15px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(185, 192, 161);
}

button img {
    vertical-align: middle;
    margin-right: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}